
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo List</title>
   <link rel="stylesheet" type="text/css" href="./css/cssComposant.css"/>
</head>
<body>








<button id="addNewTaskBtn">ADD</button>


<div class="container">
    <div class="">
  <a href="/get">
    <button type="button" class="btn btn-primary">Loggin us</button>
  </a>
</div>



    <h4></h4>
    
    <div class="card" id="task_1" data_date="2000-06-20 22:00" >
        <h3>BE MY GIRLFRIEN</h3>
        <p>Are you jealous</p>
        <h5>08:00</h5>
    </div>
    <div class="card" id="task_2" data_date="">
        <h3>BE MY GIRLFRIEN</h3>
        <p>Are you jealous</p>
        <h5>00:20</h5>
    </div>
    <div class="card" id="task_3" data_date="">
        <h3>BE MY GIRLFRIEN</h3>
        <p>Are you jealous</p>
        <h5>10:00</h5>
    </div>
</div>







    <div class="pannelAddTask open">

    
    <diiv class="closePanel">  </diiv>
    
    
    <form action="/addTask" method="POST">

        <div class="insertionText">
            <div>
                <input type="checkbox" id="isdone" name="isdone" class="form-check-input">
            </div>

            <div>
                <textarea placeholder="Nom de la tâche"  id="title" name="title" class="form-control" required autocomplete="off"></textarea>
                <textarea placeholder="Description de la tâche" id="body" nameg="body" class="form-control" required></textarea>
            </div>
        </div>


        <div class="boxSelectSend">
            
            <input type="datetime-local" class="selectDate" name="selectDate" id="selectDate"  placeholder="Date d'échéance" />


            <div id="select_box" class="">
                
            </div>


            <button type="button" class="selectPriory"> Priorité </button>
            <button type="button" class="selectPriory"> Alert </button>
        </div>



        <div class="submitBox">
          

            <button type="button" class="submitBtn" id="deleteItemBtn">Supprimer</button>
            
            <button type="submit" class="submitBtn" id="submitBtn">Send</button>

        </div>
 




    </form>
</div>



    <script  src="./js/jquery.min.js"></script>
    <script type="module" src="./js/component/subToTask.js"></script>

    
</body>


</html>