
     
    <form id="pannelAddTask" action="/api/addTask" class="addTask" method="POST">

        <div class="insertionText">
            <div>
                <input type="checkbox" id="isdone" name="isdone" class="form-check-input">
            </div>

            <div>
                <textarea placeholder="Nom de la tâche"  id="title" name="title" class="form-control" required autocomplete="off"></textarea>
                <textarea placeholder="Description de la tâche" id="body" nameg="body" class="form-control" ></textarea>
            </div>
        </div>


        <div class="boxSelectSend">
            
            <input type="datetime-local" class="selectDate" name="selectDate" id="selectDate"  placeholder="Date d'échéance" />


            <div id="select_box" class="bibi">
                
            </div>


            <button type="button" class="selectPriory"> Priorité </button>
            <button type="button" class="selectPriory"> Alert </button>
        </div>



        <div class="submitBox">
          

            <button type="button" class="submitBtn" id="deleteItemBtn">Supprimer</button>
            
            <button type="submit" class="submitBtn" id="submitBtn">Send</button>

        </div>
 

    </form>
    









