


<div class="bottom_options">
  <div>
     
    <button type="button" id="">Priorités</button>
    <button type="button" id="">Déplacer</button>
    <button type="button" id="">Échéance</button>
    <button type="button" id="remove_selected">Supprimer</button>
  </div>
</div>  



































