<div class="englob_popUp">
    <div class="popUp_modal">
        <div>
            <h5 id="deleterTitle">Title guy from London and Broadway</h5>
            <p id="deleterContent">Vous voulez dire que vous avez une offre d'emploi !</p>
        </div>
        <div>
            <button data-return="false" type="button">Annuler</button>
            <button data-return="true" type="button">Supprimer</button>
        </div>
    </div>
</div>  

