

<div class="modeme">
    <ul>
        <li data-use="1" id="modif_elprod" >Modifier</li>
        <li data-use="4" id="select_tasks" >Sélectionner des tâches.</li>
        <li data-use="3" id="delete_prod" >Supprimer</li>
    </ul>
</div>

























