

<%- include("layout/head", {css: ["./../css/cssComposant.css","./../css/plan.css"], title: "INDEX PAGE" }) %>



<header>

   <div class="top">
        

                <h5> ADMINISTRATION </h5>
    
            
   </div>
   
        

</header>


<section>
   
   
   
   Nothing to see 
   
</section>




<%- include("layout/footer", {js: [ "./js/jquery.min.js", "./js/main.js"], title: "URGENT CARE" }) %>



