

<%- include("layout/head", {css: ["./../css/admin.css"], title: "INDEX PAGE" }) %>

    <header>
        <nav>
            <ul class="onglet">
                <li><a href="/">Home</a></li>
                <li><a href="#">Issues</a></li>
            </ul>
        </nav>
    </header>
    



    <main>
        <section class="box">
            
            
            
            
            
        </section>
        
    </main> 
    





<%- include("layout/footer", {js: [ "./js/jquery.min.js", "./js/issuesDashboard.js"], title: "URGENT CARE" }) %>



