
<%- include("layout/head", {css: ["./../css/cssComposant.css","./../css/plan.css"], title: "INDEX PAGE" }) %>

<%- include("layout/mini.composant.ejs") %>


<header>

   <div class="top">
            <div>

                <h5> Hello <%= username %></h5>
            </div>
            <div>
                <button id="prod_tools" type="button">
                    Modif
                </button>
            </div>
        </div>


   <div class="bottom">
      <div id="filterByDate" class="scrollCont">
                <button data-action="0" type="button"> All</button>
                <button data-action="1" type="button">Reporté</button>
                <button data-action="2" type="button">Aujourd'hui</button>
                <button data-action="3" type="button">Demain</button>
                <button data-action="4" type="button">Prochainement</button>
                <button data-action="5" type="button">Aucune date</button>
                <button data-action="6" type="button">Aucune date</button>
            </div>
   </div>
        
        

</header>

<section class="assembly main">



        <h3 id="title_section"> Tout </h3>
        <div id="affichage" class="container">


        </div>


</section>



<%- include("layout/footer", {js: [ "./js/jquery.min.js", "./js/main.js"], title: "URGENT CARE" }) %>


