<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo List</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/project.css">
    
    
</head>
<body>
    
    
    <header>
     <div class="top">
      
      
      <div>
        <h5>Project</h5>
      </div>
      
      
      <div>
        <button type="button">
          <i>Modif</i>
        </button>
      </div>

    </div>

  </header>
  
  
  <div class="createProdBox">
    
    <input type="text" placeholder="Nom du projet" name="addProdInp" id="addProdInp" value="FINANCE">
    <button id="add_prod" type="button">Add</button>
    
  </div>
  
  
  
 <main class="container">
    <h2>Project recent</h2>
    
    <div class="" id="affichage">
    
        
        
    </div>
      
      
    <div class="" id="">
    
        
    </div>
</main>
    
<%- include("composant/bottomBar") %>

  
 
    
    



    <script src="./js/jquery.min.js"></script>
    
    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/project.js"></script>

</body>
</html>











 