<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo List</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/project.css">
    
    
</head>
<body>
    
    
    <header>
     <div class="top">
      
      
      <div>
        <h5>Project</h5>
      </div>
      
      
      <div>
        <button type="button">
          <i>Modif</i>
        </button>
      </div>

    </div>

  </header>
  
  
  <div class="createProdBox">
    
    <input type="text" placeholder="Nom du projet" name="addProdInp" id="addProdInp" value="FINANCE">
    <button id="add_prod" type="button">Add</button>
    
  </div>
  
  
  
  <main class="container">
    <h2>Project recent</h2>
    <div class="" id="affichage">
    
        <div class="card_prod">
          <h5>Class notes</h5>
          
          <p><strong>124</strong><span>En cours</span></p>
        </div>
        
        <div class="card_prod">
          <h5>Class notes</h5>
          
          <p><strong>124</strong><span>En cours</span></p>
        </div>
        <div class="card_prod">
          <h5>Class notes</h5>
          
          <p><strong>124</strong><span>En cours</span></p>
        </div>
        
      </div>
    <div class="" id="">
    
        <div class="card_prod">
          <h5>Class notes</h5>
          
          <p><strong>124</strong><span>En cours</span></p>
        </div>
        
        <div class="card_prod">
          <h5>Class notes</h5>
          
          <p><strong>124</strong><span>En cours</span></p>
        </div>
        <div class="card_prod">
          <h5>Class notes</h5>
          
          <p><strong>124</strong><span>En cours</span></p>
        </div>
        
      </div>
    </main>
    
<%- include("composant/bottomBar") %>

  
 
    
    
    
    
<!--
    
    <header>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/project">Projet</a></li>
                
        </ul>

    </header>
    
    
    
    <div class="container mt-3 p-2">
        
        
        
        <form class="form">
          <div class="card form-group mb-2">
              <input type="text" name='title' id="title" class="form-control " placeholder="Ajouter le nom de votre projet." />
          </div>
          
          
          <div class="card"> 
            <button id="add_prod" type="button" class="btn btn-primary">+</button>
        </div>
          
          
        </form>
        
    </div>


    <div class="container mt-2 mb-2">

        <-- Container pour les Tâches ->
        <h5>Toutes vos projet en cours.</h5>
        <hr>
        
        
        <div id="affichage" class="">
            <!-- Modèle de Tâche --
            
            
            <div class="card card_prod" >
               Initialised ...
            </div>
            
            
            
             
                        
                


        </div>
        
        
        
        
        <div class="card_prod">
                <h5>Class notes</h5>
                  
                <p>
                    <strong>124</strong>
                    <span>En cours</span>
                </p>
            </div>
                        
    </div>

-->


    <script src="./js/jquery.min.js"></script>
    
    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/project.js"></script>

</body>
</html>











 