<%- include("layout/head", {css: ["./../css/cssComposant.css","./../css/project.css"], title: "INDEX PAGE" }) %>

<%- include("./composant/bottomBar") %>

<header>
     <div class="top">
      
      
      <div>
        <h5>Project</h5>
      </div>
      
      
      <div>
        <button type="button">
          <i>Modif</i>
        </button>
      </div>

    </div>

  </header>
  
<div class="createProdBox">
    <label for="addProdInp" >Crée un nouveau projet.</label>
    
    <input type="text" placeholder="Nom du projet" name="addProdInp" id="addProdInp" >
    <button id="add_prod" type="button">Add</button>
    
  </div>
  
<main class="contain">
    <h2>Récent</h2>
    
    <div class="" id="affichage">
        
        
    </div>
</main>




    
<%- include("composant/bottomBar") %>

<%- include("layout/footer", {js: [ "./js/jquery.min.js", "./js/project.js"], title: "URGENT CARE" }) %>

