<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo List</title>

    <link rel="stylesheet" href="./../css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="./../css/cssComposantosgosmos.css">



</head>
<body>

    <div class="card m-3 bg-primary">
        <a href="/loggin">
            <button class="btn" type="button">signup</button>
        </a>
    </div>


    <div class="container">

        <form class="form">
            <div class="form-group">
                <input name="username" placeholder="Username" type="text" class="form-control" />
            </div>
            <div class="form-group">
                <input name="email" placeholder="Email" type="text" class="form-control" />
            </div>
            <div class="form-group">
                <input name="password" placeholder="Password" type="text" class="form-control" />
            </div>

            <div class="form-group">
                <input name="submit" placeholder="Submit" type="submit" class="form-control" />
            </div>

        </form>



    </div>















    <script src="./../js/bootstrap.min.js"></script>

    <script>


        const form = document.querySelector("form");
        form.addEventListener("submit", (e)=> {
            e.preventDefault()
            let {
                username, password, email
            } = form;





            let body = {
                username: username.value, password: password.value, email: email.value
            };

            alert(e.target.username.value);
            console.log(body);

            POST_TO_SERVER("/signup", body)
            .then((res)=> res.json())
            .then((res) => {
                console.log(res)
                if (res.status === 200) {
                    

                    if (res.msg) {
                        alert(res.msg)
                        
                        
                    }
                    
                    
                }
                
                let a = document.createElement("a")
                    a.href = "/loggin";
                    a.click()


            })


        });

        function POST_TO_SERVER (url, body) {
            body = JSON.stringify(body);
            return fetch(url, {
                headers: {
                    "Content-type": "application/json;charset=UTF-8"
                },
                method: "POST",
                body
            });
        }


    </script>


</body>
</html>