<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo List</title>

    <link rel="stylesheet" href="./../css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="./../css/cssComposant.css">

</head>
<body>
   
   
 <div class="containers">

    <div class="card bg-primary">
        <a href="/app/login">
            <button class="btn" type="button">Log In</button>
        </a>
    </div>
    
   

   <div class="displayServerMsg">
      
   </div>


   <form class="form">
            <div class="form-group">
                <input name="username" placeholder="Username" type="text" class="form-control" />
                <span></span>
            </div>
            <div class="form-group">
                <input name="email" placeholder="Email" type="text" class="form-control" />
                <span></span>
            </div>
            <div class="form-group">
                <input name="password" id="password" placeholder="Password" type="text" class="form-control" />
                <span></span>
            </div>
            <div class="form-group">
                <input name="submit" placeholder="Submit" type="submit" class="form-control" />
                <span></span>
            </div>

        </form>


</div>















    <script src="./../js/bootstrap.min.js"></script>
    <script type="module" type="text/javascript" defer src="./../js/signup.js"></script>
    
    
</body>
</html>