.button {
   width: auto;
   height: auto;
   padding: 10px 24px;
   border-radius: 5px;
   font-size: 18px;
   color: #eee;
   background: #4C5BFF;
   border: none;
   outline: none;
   box-shadow: 0 1.5px 2px .2px rgba(197, 197, 197, .5);
}

#addNewTaskBtn {
   background: white;
   width: 60px;
   height: 60px;
   color: #000;
   position: absolute;
   top: -20px;
   box-shadow: 0 -.2px 2px 0px #333333;
}

#addNewTaskBtn svg {
   
   width: 20px;
   height: 20px;
   color: #000;
   
}







header {
   width: 100%;
   z-index: 10;
   position: fixed;
   top: 0;
   left: 0;
   background: white;
   box-shadow: 1px 1px 5px #0004;
   
   background: #0000dd;
}

header .top {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   height: 70px;
   padding: 20px 15px;
   
}

header .top h5 {
   font-size: 20px;
   font-weight: 500;
   font-family: RedHatDisplay_Bold;
   color: #222;
}

header .top>div button {
   width: 40px;
   height: 40px;
   border-radius: 50em;
   border: none;
   font-size: 10px;
   background: #3336;
}

header .middle {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 50px;
}

header .middle>div {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: CENTER;
   width: 100%;
   height: 100px;
}

header .middle>div strong {
   font-size: 12px;
   color: #FFF;
   font-family: Montserrat-Regular;
}

header .middle>div span {
   font-size: 9px;
   color: #e0e0e0;
   font-family: Poppins-Regular;
}

header .bottom {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: auto;
   padding-bottom: 20px;
   display: non;
   padding: 0 15px;
}

header .bottom>.scrollCont {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   width: 100%;
   height: 50px;
   overflow: scroll;
   margin: 0 0 10px 0;
}

header .bottom>.scrollCont button {
   width: auto;
   height: 30px;
   max-width: 200px;
   padding: 0 20px;
   margin: 0 20px 0 0;
   border: none;
   border-radius: 5px;
   text-overflow: ellipsis;
   color: #444;
}






.bottom_bar {
   position: fixed;
   background: #0000dd;
   bottom: 0;
   width: 100%;
   height: 60px;
   padding: 0 0px;
   z-index: 13;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.bottom_bar>div {
   width: 20%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.bottom_bar>div button {
   width: 40px;
   height: 40px;
   border: 0;
   border-radius: 50em;
   font-size: 10px;
   background: none;
   color: #fff;
}















.container {
   padding: 20px 0px 0px 0px;
   margin: 0px 0 20px 0;
   height: auto;
   width: 100%;
   position: relative;
}

.container::beforet {
   content: "";
   position: absolute;
   z-index: 9;
   width: 3px;
   height: 100%;
   background: #aaa;
   left: 0;
   border-radius: 20px;
}

.card {
   position: relative;
   width: 100%;
   height: auto;
   max-height: 53px;
   min-height: 50px;
   background: #FFFFFF;
   border-radius: 7.5px;
   display: flex;
   padding: 0 10px 0px;
   justify-content: space-between;
   border: 1px solid #D9D9D9;
   overflow: hidden;
   margin-bottom: 10px;
}

.card.drop {
   height: auto;
   max-height: 93px;
   min-height: 90px;
   background: #FFFFFF;
   border-radius: 7.5px;
   display: flex;
   padding: 0 10px 0px;
   justify-content: space-between;
   border: 1px solid #D9D9D9;
   overflow: hidden;
   margin-bottom: 10px;
   
}

.card.added {
   background: #D5D5D5;
}

.card.focusBox {
   background: red;
}

.card::before {
   content: "";
   position: absolute;
   z-index: 9;
   width: 5px;
   height: 100%;
   background: #619B4F;
   right: 0;
}

.card>div:first-child {
   height: 50px;
   width: 12%;
   display: flex;
   justify-content: flex-start;
   padding-left: 7px;
   align-items: center;
}

.card>div:first-child>input {
   width: 20px;
   height: 20px;
   border: none;
}

.card>div:nth-child(2) {
   height: 100%;
   width: 73%;
   display: flex;
   flex-direction: column;
   padding: 0px 10px 0;
   background: none;
   
}

.card>div:last-child {
   width: 15%;
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   align-items: center;
   height: auto;
   max-height: 270px;
}

.card>div:last-child>div {
   height: auto;
   width: auto;
   font-size: 8px;
   display: grid;
   place-content: center;
   position: absolute;
   padding: 2.5px 5px;
   border-radius: 2px;
   color: #fff;
   top: 5px;
   right: 15px;
   font-family: Poppins-Regular;
   background: #FF98D8;
}

.card>div:last-child>button {
   border: none;
   height: 20px;
   width: 100%;
   background: palevioletred;
   display: flex;
   align-items: center;
   justify-content: flex-start;
}

.card-body h5 {
   margin: 0;
   padding: 0;
   font-size: 11px;
   color: #454545;
   margin: 8px 0 0px 0;
   font-family: Montserrat-Regular;
   max-height: 25px;
   height: 20px;
   line-height: 20px;
   background: none;
   overflow: hidden;
   
}

.card-body div {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   color: #A0A0A0;
   background: none;
   height: 10px;
   line-height: 10px;
}

.card-body div>p {
   font-size: 10px;
   color: #A0A0A0;
   margin: 0 6px 0 2px;
   font-family: Poppins-Regular;
   font-weight: 0;
}

.card-body div>span {
   font-size: 9px;
   color: #A0A0A0;
   font-family: Poppins-Regular;
}

.card-body .card-text {
   font-size: 10px;
   display: nono;
   padding: 15px 0 15px 0;
   font-family: Poppins-Regular;
   color: #959595;
   font-weight: 500;
   letter-spacing: 0.05px
}


.depli {
   background: red;
}












.assembly {
   min-height: 2000px;
   margin-top: 50px;
   padding: 30px 15px 100px;
   height: auto;
   width: 100%;
   background: #e4e4e9;
   border-top-right-radius: 10px;
}

.assembly h3 {
   font-size: 14px;
   color: #333;
   font-family: RedHatDisplay_Bold;
}









.bottom_options {
   position: fixed;
   background: #fff;
   bottom: 0;
   width: 100%;
   height: 70px;
   padding: 0 20px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   opacity: 0;
   visibility: hidden;
   transition: all .3 ease;
   z-index: 14;
}

.bottom_options.active {
   opacity: 1;
   visibility: visible;
}

.bottom_options>div button {
   width: 80px;
   height: 50px;
   border: 0;
   border-radius: 50em;
   font-size: 12px;
   background: #EAEAEA;
   color: #555;
   box-shadow: 0px 2px 4px #000;
   
}

.options {
   width: 100%;
   height: 70px;
   position: fixed;
   top: 0;
   left: 0;
   padding: 10px 20px;
   z-index: 13;
   display: flex;
   background: red;
   justify-content: flex-start;
   align-items: center;
   color: #fff;
   opacity: 0;
   visibility: hidden;
   transition: all .3 ease;
}

.options.active {
   opacity: 1;
   visibility: visible;
}

.headOptions.active {
   opacity: 1;
   visibility: visible;
}

.options>div button {
   width: auto;
   height: 35px;
   max-width: 200px;
   padding: 0 10px;
   margin: 0 20px 0 0;
   border: none;
   border-radius: 5px;
   color: #444;
}

.options>div button.active {
   background: #3FC357;
   color: #fff;
}



.pannel_form {
   position: fixed;
   z-index: 10;
   bottom: -51%;
   background: white;
   width: 100%;
   height: 170px;
   padding: 20px;
   box-shadow: 0 -3px 3px #2222;
   transition: bottom .2s ease-in;
   z-index: 14;
}

.pannel_form.open {
   bottom: 0;
}

.modeme {
   z-index: 11;
   width: 200px;
   height: 250px;
   position: fixed;
   top: 60px;
   right: 20px;
   background: #fff;
   box-shadow: 1px 1px 5px #0004;
   border-radius: 5px;
   opacity: 0;
   visibility: hidden;
   transition: all .3 ease;
}

.modeme.active,
.modeme.show {
   opacity: 1;
   visibility: visible;
   
}

.modeme ul {
   list-style: none;
   width: 100%;
   height: 100%;
   padding: 10px;
}

.modeme ul li {
   width: 100%;
   height: 50px;
   display: grid;
   align-items: center;
   padding: 0 10px;
   color: #707070;
}

.modeme ul li.activeo {
   background: #EEEEEE;
   color: #000;
}

.bottom_modProd {
   width: 100%;
   height: 80px;
   background: white;
   position: fixed;
   
   left: 0;
   right: 0;
   bottom: -71px;
   z-index: 104;
   display: flex;
   justify-content: space-between;
   align-items: center;
   box-shadow: 1px 1px 5px #0004;
   padding: 10px 20px;
   opacity: 0;
   visibility: hidden;
   transition: all .3 ease;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
}

.bottom_modProd.active,
.bottom_modProd.show {
   bottom: 0;
   opacity: 1;
   visibility: visible;
}

.bottom_modProd input {
   
   width: 80%;
   height: 40px;
   border: none;
   z-index: 14;
   outline: none;
   font-size: 16px;
   font-weight: 600;
   font-family: Montserrat-Regular;
}

.englob_popUp {
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   width: 100%;
   height: 100%;
   background: #62626275;
   position: fixed;
   z-index: 101;
   display: grid;
   place-items: center;
   opacity: 0;
   visibility: hidden;
   display: none;
   transition: all .3s ease;
}

.englob_popUp.active {
   opacity: 1;
   visibility: visible;
   display: grid;
}

.popUp_modal {
   width: 300px;
   height: 170px;
   background: white;
   position: fixed;
   top: calc(50% - 85px);
   left: calc(50% - 150px);
   z-index: 16;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   box-shadow: 1px 1px 5px #0004;
   padding: 20px;
   border-radius: 7px;
}

.popUp_modal>div:last-child {
   width: 100%;
   height: 35px;
   display: flex;
   justify-content: flex-end;
}

.popUp_modal>div:nth-child(2) button {
   height: 35px;
   width: auto;
   padding: 0px 10px;
   margin-left: 5px;
   border: none;
   font-size: 15px;
   background: none;
   border-radius: 5px;
   color: #FF5656ED;
   font-family: 600;
   font-family: Poppins-Regular;
   text-transform: uppercase;
}

.popUp_modal>div:nth-child(2) button:hover {
   background: #FF565626;
}

.popUp_modal>div:nth-child(1) h5 {
   margin: 0 0 10px 0;
   font-size: 14px;
   color: #333;
   font-family: RedHatDisplay_Bold;
}

.popUp_modal>div:nth-child(1) p {
   margin: 0 0 0px 0;
   font-size: 12px;
   font-family: Poppins-Regular;
   color: #555;
}














.pannelAddTask {
   z-index: 14;
   width: 100%;
   min-height: 100%;
   height: auto;
   position: fixed;
   bottom: -100%;
   top: 0;
   left: 0;
   right: 0;
   background: #0000001A;
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   align-items: center;
   opacity: 0;
   visibility: hidden;
}

.closePanel {
   width: 100%;
   height: calc(100% - 180px);
   background: none;
}



form.addTask {
   position: absolute;
   z-index: 101;
   bottom: -100%;
   width: 100%;
   min-height: 180px;
   height: auto;
   background: white;
   box-shadow: 0 -.1px 3px 1px #9696968F;
   border-top-right-radius: 10px;
   border-top-left-radius: 10px;
   background: #fff;
   visibility: hidden;
   opacity: 0;
   transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) ease;
}

form.addTask.show {
   bottom: 0;
   visibility: visible;
   opacity: 1;
}

form.addTask .insertionText {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
   height: 90px;
   padding: 2px;
}

form.addTask .insertionText>div:nth-child(1) {
   width: 20%;
   height: 100%;
   padding-top: 20px;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   
}

form.addTask .insertionText>div:nth-child(1) input {
   width: 22px;
   height: 22px;
}

form.addTask .insertionText>div:nth-child(2) {
   min-width: 80%;
   height: 100%;
   padding-top: 10px
}

form.addTask .insertionText>div:nth-child(2) textarea {
   min-width: 100%;
   height: 30px;
   background: none;
   border: none;
   outline: none;
   padding: 10px 20px 0 10px;
   font-size: 15px;
   font-family: Montserrat-Regular;
   font-weight: 600;
   overflow: visible;
}

form.addTask .insertionText>div:nth-child(2) textarea#body {
   min-width: 100%;
   height: 40px;
   background: none;
   font-size: 12px;
   font-family: Poppins-Regular;
   font-weight: 300;
   color: #959595;
   padding: 0px 20px 0px 10px;
}

form.addTask .boxSelectSend {
   display: flex;
   justify-content: flex-start;
   align-items: flex-start;
   width: 100%;
   height: 40px;
   padding: 0 15px;
   overflow: scroll;
   scrollbar-width: 0px;
   scrollbar-color: none;
}

form.addTask .boxSelectSend::-webkit-scrollbar {
   display: none;
}



form.addTask .boxSelectSend div select.form-select {
   border: none;
   outline: none;
   width: 90px;
   height: 30px;
   padding: 0 0px;
   color: #777;
   background: none;
}

form.addTask .boxSelectSend>div:nth-child(2) {
   height: 30px;
   min-width: 120px;
   background: #fff;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 3px;
   color: #777;
   margin-right: 10px;
   border: 1.2px solid #E5E5E5;
}

form.addTask .boxSelectSend>button.selectDate {
   height: 30px;
   min-width: 130px;
   background: #fff;
   display: flex;
   justify-content: center;
   align-items: center;
   border: none;
   border-radius: 3px;
   color: #777;
   font-size: 13px;
   margin-right: 10px;
   padding: 0 10px;
   border: 1.2px solid #E5E5E5;
   
}

form.addTask .boxSelectSend>button.selectPriory {
   height: 30px;
   width: 60px;
   background: #fff;
   display: flex;
   justify-content: center;
   align-items: center;
   border: none;
   border-radius: 3px;
   color: #777;
   font-size: 13px;
   margin-right: 10px;
   padding: 0 10px;
   border: 1.2px solid #E5E5E5;
   
}


form.addTask .submitBox {
   width: 100%;
   height: 60px;
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
   padding: 5px 15px 0;
   background: none;
}

form.addTask .submitBox>button {
   height: 40px;
   border-radius: 3px;
   border: none;
   color: #fff;
   width: 100%;
}

form.addTask #selectProd {
   border: none;
   outline: none;
   width: 90px;
   height: 30px;
   padding: 0 0px;
   color: #777;
   background: none;
}

form.addTask #submitBtn {
   width: 60%;
   background: #0000dd;
}

form.addTask #submitBtn:hover {
   background: white;
   border: 1.2px solid #0000dd;
   color: #0000dd;
}

form.addTask #deleteItemBtn {
   width: 30%;
   background: white;
   color: rgba(255, 24, 24, 0.512);
   border-radius: 3px;
   margin-right: 10px;
   border: 1.2px solid rgba(255, 24, 24, 0.512);
}

#addNewTaskBtn {
   background: white;
   width: 60px;
   height: 60px;
   color: #000;
   position: absolute;
   top: -30px;
   box-shadow: 0 -.2px 2px 0px #333333;
   z-index: 30;
}

#addNewTaskBtn svg {
   
   width: 20px;
   height: 20px;
   color: #000;
   
   
}


.screen {
   position: fixed;
   top: 0;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.274);
   display: grid;
   place-content: center;
   color: white;
   z-index: 100;
   opacity: 0;
   visibility: hidden;
   transition: all cubic-bezier(0.39, 0.575, 0.565, 1) ease;
}

.screen.show {
   opacity: 1;
   visibility: visible
}



.displayServerMsg {
   width: 100%;
   height: auto;
   padding: 10px 5px;
   border-radius: 10px;
   border: 1.5px solid #555;
   background: none;
   opacity: 0;
   visibility: hidden;
   color: #fff;
   transition: all 1s ease;
   margin: 20px 0;
}


.displayServerMsg.error {
   background: #ff0d0dba;
   opacity: 1;
   visibility: visible;
}

.displayServerMsg.success {
   background: #00ae05df;
   opacity: 1;
   visibility: visible;
}


.containers {
   width: 100%;
   height: auto;
   padding: 40px 20px;
}


.form-group span {
   opacity: 0;
   visibility: hidden;
   color: #959595;
   padding: 5px 0;
   
}

.form-group span.error {
   opacity: 1;
   visibility: visible;
   color: #ff0d0dba;
}

.form-group span.success {
   opacity: 1;
   visibility: visible;
   color: #00ae05df;
}