* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	width: 100vw;
	overflow-x: auto;
}

body.no_scroll {
	height: 100vh;
	overflow-y: hidden;
}

@font-face {
	font-family: RedHatDisplay_Bold;
	src: url("../font/RedHatDisplay-Bold.ttf");
}

@font-face {
	font-family: Montserrat-Regular;
	src: url("../font/Montserrat-Regular.ttf");
}

@font-face {
	font-family: Lato-Regular;
	src: url("./font/Lato-Regular.ttf");
}

@font-face {
	font-family: OpenSans;
	src: url("../font/OpenSans-Regular.ttf");
}

@font-face {
	font-family: OpenSans-Bold;
	src: url("../font/OpenSans-Bold.ttf");
}

@font-face {
	font-family: Poppins-Regular;
	src: url("../font/Poppins-Regular.ttf");
}






header {
	width: 100%;
	z-index: 10;
	position: fixed;
	top: 0;
	left: 0;
	background: white;
	box-shadow: 1px 1px 5px #0004;
}

header .top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 70px;
	padding: 20px 15px;
	
}

header .top h5 {
	font-size: 17px;
	font-weight: 500;
	font-family: RedHatDisplay_Bold;
	color: #222;
}

header .top>div button {
	width: 40px;
	height: 40px;
	border-radius: 50em;
	border: none;
	font-size: 10px;
	background: #3336;
}

header .middle {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 50px;
}

header .middle>div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: CENTER;
	width: 100%;
	height: 100px;
}

header .middle>div strong {
	font-size: 12px;
	color: #FFF;
	font-family: Montserrat-Regular;
}

header .middle>div span {
	font-size: 9px;
	color: #e0e0e0;
	font-family: Poppins-Regular;
}

header .bottom {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: auto;
	padding-bottom: 20px;
	display: non;
	padding: 0 15px;
}

header .bottom>.scrollCont {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	height: 50px;
	overflow: scroll;
	margin: 0 0 10px 0;
}

header .bottom>.scrollCont button {
	width: auto;
	height: 30px;
	max-width: 230px;
	padding: 0 20px;
	margin: 0 20px 0 0;
	border: none;
	border-radius: 5px;
	text-overflow: ellipsis;
	color: #444;
}
header .bottom>.scrollCont button:last-child {
   min-width: 130px;
}



.scrollCont::-webkit-scrollbar{
   display: none;
}

section.main{
   margin-top: 100px;
   
}







