* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	width: 100vw;
	background: #eee;
	font-size: 15px;
}

@font-face {
	font-family: RedHatDisplay_Bold;
	src: url("../font/RedHatDisplay-Bold.ttf");
}

@font-face {
	font-family: Montserrat-Regular;
	src: url("../font/Montserrat-Regular.ttf");
}

@font-face {
	font-family: Lato-Regular;
	src: url("../font/Lato-Regular.ttf");
}

@font-face {
	font-family: OpenSans;
	src: url("../font/OpenSans-Regular.ttf");
}

@font-face {
	font-family: OpenSans-Bold;
	src: url("../font/OpenSans-Bold.ttf");
}

@font-face {
	font-family: Poppins-Regular;
	src: url("../font/Poppins-Regular.ttf");
}


main h2 {
	margin-bottom: 10px;
	font-weight: 800;
	font-size: 20px;
	font-family: RedHatDisplay_Bold;
}

main {
	padding: 20px 15px 100px;
	margin: 10px 0 0;
	height: auto;
	width: 100%;
	position: relative;
}


.card_prod {
	width: 100%;
	height: 80px;
	background: #fff;
	padding: 20px 20px;
	border-radius: 7px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	margin-bottom: 10px;
	border: .8px solid #ccc;
}



.card_prod>h5 {
	font-size: 15px;
	font-family: Montserrat-Regular;
	color: #323232;
	letter-spacing: 1px;
	font-weight: 800;
	text-transform: capitalize;
}

.card_prod>p {
	font-size: 10px;
	font-family: Montserrat-Regular;
	color: #565656;
	letter-spacing: 1px;
}

.card_prod>p strong {
	margin-right: 10px;
	font-family: Montserrat-Regular;
	color: #666;
	letter-spacing: 1px;
}





header .top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 50px;
	padding: 20px 15px;
	background: #fff;
	
}

header .top h5 {
	font-size: 20px;
	font-weight: 500;
	font-family: RedHatDisplay_Bold;
	color: #323232;
}

header .top>div>button {
	width: 40px;
	height: 40px;
	border-radius: 50em;
	border: none;
	font-size: 10px;
	background: #FFFFFFA6;
	
}



.createProdBox {
	padding: 70px 15px 10px;
	background: #eee;
}

.createProdBox label {
	padding: 0 0 5px 4px;
	font-size: 12px;
	font-family: Poppins-Regular;
}

.createProdBox input {
	border: 1.5px solid #ddd;
	width: 100%;
	height: 50px;
	border-radius: 7px;
	outline: none;
	padding: 0 20px;
	margin: 5px 0 10px;
	font-family: Poppins-Regular;
}

.createProdBox button {
	border: none;
	width: 100%;
	height: 35px;
	border-radius: 5px;
	background: #0000dd;
	color: #fff;
}
































.cardprod {
	position: relative;
	overflow: hidden;
	margin: 10px 0;
	border-radius: 10px;
	border: 2px solid #3332;
	width: 100%;
	height: 50px;
	display: grid;
	place-content: center;
	
}

.focusBox {
	background: #FFF28D;
}

.actions {
	position: absolute;
	width: 20%;
	height: 100%;
	background: #70FFE2;
	right: -21%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	transition: right 0.5 ease-in;
	
}

.actions.open {
	right: 0;
	
}


.actions button {
	width: 100%;
	height: 40%;
	font-size: 10px;
	padding: 0;
}


.pannel_form {
	position: fixed;
	z-index: 10;
	bottom: -51%;
	background: white;
	width: 100%;
	height: 50%;
	padding: 20px;
	box-shadow: 0 -3px 3px #2222;
	transition: bottom .2s ease-in;
}



.pannel_form.open {
	bottom: 0;
}


#addNewTaskBtn {
   display: none;
}
	










