
<header>

        <div class="top">
            <div>

                <h5> Hello <%= username %></h5>
            </div>
            <div>
                <button id="prod_tools" type="button">
                    Modif
                </button>
            </div>
        </div>



        <div style="display: none" class="middle">
            <div>
                <strong>124</strong>
                <span>En cours</span>
            </div>
            <div>
                <strong>12 Fév 2024</strong>
                <span>Today</span>
            </div>
            <div>
                <strong>330</strong>
                <span>Achevée</span>
            </div>
        </div>



        <div class="bottom">
            <div class="scrollCont">
                <button data-action="0" type="button">Aujourd'hui</button>
                <button data-action="1" type="button">Demain</button>
                <button data-action="2" type="button">Prochainement</button>
                <button data-action="3" type="button">Aucune date</button>
            </div>
        </div>

    </header>




